<%= simple_form_for [:builder, current_site, @user] do |f| %>

  <% if current_user.admin? %>
    <section class="form">
      <div class="half-row">
        <%= f.input :name %>
        <%= f.input :email %>
        <%= em_p("Changing settings here changes them for this user in any
          site within this application.") %>
      </div>
      <div class="half-row">
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= em_p("Submitting both password fields will reset this user's
        password.") %>
      </div>
      <%#= raise '123' %>
      <div class="half-row">
        <%= f.input :admin, :label => "Super Admin" %>
        <%= f.input :site_admin, :as => :boolean,
                    :input_html => { :checked => @site_user ? @site_user.site_admin? : false } %>
        <%= em_p("A super admin has access to all functions within every site. A site admin has access to most functions within the sites on which they are admins.") %>
      </div>
    </section>
  <% end %>

  <%= f.submit %>

<% end %>
